---
layout: default
title: CSS Guidelines
nav: CSS
weight : 15
---

<h1>{{ page.title }}</h1>

<ul class="contents">
	<li><a href="#naming">BEM Naming Convention</a></li>
	<li><a href="#syntax">Syntax</a></li>
	<li><a href="#nesting">Nesting</a></li>
</ul>

<section id="naming">

	<h2>BEM Naming Convention</h2>

	<p>Use our verion of the BEM style syntax, and split components of UI up into discrete reusable modules (one sass file per module).</p>
	
	<div class="code">
	{% highlight css %}{% include css-examples/naming-convention.css %}{% endhighlight %}
	</div>

</section>

<section id="syntax">

	<h2>Syntax</h2>
	<ul>
		<li>Class names are hyphen separated (not camelCase)</li>
		<li>ID's should be hyphen separated</li>
		<li>Opening curly bracket on same line as the rule set</li>
		<li>Indentation is 4 spaces (no tabs)</li>
		<li>Each property on its own line</li>
		<li>Insert a space after the colon</li>
		<li>Colour declarations should be lowercase hex values (unless using rgba) using the short form where possible</li>
		<li>If you have multiple selectors separated by commas, then each selector should appear on its own line (see example)</li>
	</ul>

	<div class="code">
		{% highlight css %}{% include css-examples/syntax.css %}{% endhighlight %}
	</div>

</section>

<section id="nesting">
	
	<h2>Nesting</h2>
	
	<p>When using Sass, avoid excessive nesting as it increases the specificity of your css for no good reason (other than it feels good). Consider adding more BEM-style classes to avoid unecessary nesting.</p>
	
	<div class="code">
		{% highlight scss %}{% include css-examples/nesting.scss %}{% endhighlight %}
	</div>


</section>