---
layout: default
title: CSS Guidelines
nav: CSS
weight : 15
---

<h1>{{ page.title }}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, laboriosam placeat laudantium! Alias sunt quisquam doloribus, eveniet, minus expedita perferendis! Provident, numquam dolorem! Laborum aut in harum rerum nam, repellendus.</p>

<section>

	<h2>CSS Naming Convention</h2>

	<p>We use a variant of BEM style syntax. </p>
	
	<div class="code">
	{% highlight css %}{% include css-examples/naming-convention.css %}{% endhighlight %}
	</div>

</section>

<section>

	<h2>Syntax</h2>
	<ul>
		<li>Class names are hyphen separated (not camelCase)</li>
		<li>ID's should be hyphen separated</li>
		<li>Opening curly bracket on same line as the rule set</li>
		<li>Indentation is 4 spaces (no tabs)</li>
		<li>Each property on its own line</li>
		<li>Insert a space after the colon</li>
		<li>Colour declarations should be lowercase hex values (unless using rgba) using the short form where possible</li>
		<li>If you have multiple selectors separated by commas, then each selector should appear on its own line (see example)</li>
	</ul>

	<div class="code">
		{% highlight css %}{% include css-examples/syntax.css %}{% endhighlight %}
	</div>

</section>

<section>
	
	<h2>Sass</h2>
	
	<p>Avoid excessive nesting, as it ups the specificity of your css for no good reason.</p>
	



</section>