---
layout: default
title: General Best Practice
description: Accessibility, performance, browser support etc.
nav: General
weight : 2
---


<div class="toc">
    <div class="wrapper">
        <h1>{{ page.title }}</h1>

    	<ul class="contents">
            <li><a href="#accessibility">Accessibility</a></li>
    		<li><a href="#perf">Performance</a></li>
    		<li><a href="#browser-support">Browser support</a></li>
    		<li><a href="#directory">Directory structure</a></li>
    	</ul>
    </div>
</div>

<div class="page-content">
    <div class="wrapper">


        <section id="accessibility">
            <h2>Accessibility</h2>

            <h3>Semantics</h3>
            <p>Use semantic headings in the correct order.</p>
            <p>Obviously don't use tables for layout.</p>

            {% highlight html %}{% include html-examples/semantics.html %}{% endhighlight %}

            <p><a href="http://learn.shayhowe.com/advanced-html-css/semantics-accessibility/">Extending Semantics &amp; Accessibility</a>.</p>

            <h3>Tab order</h3>

            <p>The tab order of elements on the page should be logical, going from left to right and top to bottom. Tab order is defined by the order your page's source code.</p>
            <ul>
                <li><code>tabindex="0"</code> - This will make an element that isn't naturally focussable (e.g. span, div, p) able to be focused. It will appear in the natural tab order of the page.</li>
                <li><code>tabindex="-1"</code> - Using an negative number means the element will not appear in the natural tab order of the page, but it can be assigned focus using JavaScript. For example you may want to give focus to a validation error, but not have it appear in the natural tab order.</li>
                <li><code>tabindex=">0"</code> - Any tabindex greater than 0 should be avoided, as it is necessary to add a tabindex to every focussable element on the page to maintain a sensible tab order.</li>
            </ul>


            <h3>Forms</h3>
            <p>Make sure the tab order of your forms is logical.</p>
            <p>Use an associated <code>&lt;label&gt;</code> for all form controls. You can either associate with a <code>for="my-input-id"</code> or by wrapping the input.</p>

            <h3>Language Attribute</h3>
            <p>Add a language attribute to the html tag to enable screen readers to use the correct pronunciation.</p>
            {% highlight html %}{% include html-examples/language.html %}{% endhighlight %}

            <h3>Images</h3>
            <p>Use appropriate alt text on all images. Decorative images that don't convey content or meaning should have an empty <code>alt=""</code> attribute.</p>
            <p>Read these <a href="http://a11yproject.com/posts/alt-text/">great tips on using alt text properly</a>.</p>

            <!-- TODO: What about background images? -->

            <h3>Aria</h3>

            <p>Aria attributes are used to add in accessibilty information to elements that are missing them. First rule of aria use:</p>
            <blockquote cite="https://rawgit.com/w3c/aria-in-html/master/index.html">
                'If you can use a native HTML element or attribute with the semantics and behaviour you require <strong>already built in</strong>, instead of re-purposing an element and adding an ARIA role, state or property to make it accessible, <strong>then do so</strong>.'<br />
                <cite><a href="https://rawgit.com/w3c/aria-in-html/master/index.html">Using WAI-ARIA in HTML</a></cite>
            </blockquote>

            <h4>Roles</h4>
            <p>Make use of the following Aria landmark roles:</p>
            <ul>
                <li><code>main</code> - Main content area. Should only be used once per page. <code>&lt;main role=&quot;main&quot;&gt;</code></li>
                <li><code>banner</code> - Use this on your global page header. <code>&lt;header role=&quot;banner&quot;&gt;</code></li>
                <li><code>navigation</code> - Contains navigation links, e.g <code>&lt;nav role=&quot;navigation&quot;&gt;</code>.</li>
                <li><code>contentinfo</code> -  A collection of metadata, copyright information and the like. Usually used on the footer <code>&lt;footer role=&quot;contentinfo&quot;&gt;</code></li>
            </ul>

            <h4>State</h4>
            <p>Consider using the following attributes to improve the experience of screen readers:</p>
            <ul>
                <li><code>aria-invalid</code> - Use to highlight invalid input field values as the result of some validation.</li>
                <li><code>aria-hidden</code> - Use to hide something from a screen reader. E.g. <code>&lt;i class="icon-download" aria-hidden="true"&gt;</code>. Do not use on an element that is visible <strong>and focussable</strong>.</li>
                <li><code>aria-current</code> - Can be used to denote the current item in a breadcrumb, pagination control or navigation menu. Value can be <code>true, page, date, time</code></li>
            </ul>

            <p>See the full list of aria attributes</p>


            <h3>Colour Contrast</h3>

            <p>To be AA compliant:</p>
            <ul>
                <li>Standard text should have a contrast ratio of at least <strong>4.5:1</strong></li>
                <li>Large scale text can drop down to <strong>3:1</strong></li>
                <li>Text that is part of a logo or brand name has no minimum contrast requirement.</li>
            </ul>

            <p>You can use <a href="http://leaverou.github.io/contrast-ratio/">Contrast Ratio</a> for checking this.</p>
        </section>

        <section id="perf">
        	<h2>Performance</h2>

        	<p>When developing a website or application it should be optimised for a fast loading speed across all devices.  A good benchmark of this is to use Google Page insights to measure its rating out of 100 to measure how successful this has been (always aim in the amber to green rating and never red).

        	<h3>This can be achieved by ensuring the following criteria are met at a minimum:</h3>

        	<ul>
        		<li>Minify CSS - Minify / concat all CSS files into one minified file.</li>
        		<li>Minify HTML - Minify html output on production environment.</li>
        		<li>Minify JavaScript - Minify / concat all JS files into one minified file.</li>
        		<li>Optimise images - Optimise all images.</li>
        		<li>Size tap targets appropriately - Increase size of buttons / tap targets on touchscreen devices.</li>
        	</ul>

        	<h3>The following criteria can also be implemented to further increase performance if scores are very low.</h3>

        	<ul>
        		<li>Eliminate render-blocking JavaScript and CSS in above-the-fold content - Defer or asynchronously load blocking resources, or inline the critical portions of those resources directly in the HTML.</li>
        		<li>Prioritize visible content - Structure your HTML to load the critical, above-the-fold content first.</li>
        	</ul>

        	<h3>The following should be enabled on the server / setup by hosting to complement the optimisation completed by the UI Team.</h3>

        	<ul>
        		<li>Leverage browser caching - Setting an expiry date or a maximum age in the HTTP headers for static resources instructs the browser to load previously downloaded resources from local disk rather than over the network.</li>
        		<li>Enable compression - Compressing resources with gzip or deflate can reduce the number of bytes sent over the network.</li>
        	</ul>

        </section>

        <section id="browser-support">

        	<h2>Browser support</h2>

        	<p>This can vary depending on the requirements of a project, but our recommended level of support is as follows:</p>

        	<div class="support-level">
        		<h3>Full support</h3>

        		<div class="support-level__browsers">
        			<span class="browser browser--ie">IE Edge</span>
        			<span class="browser browser--ie">IE 11</span>
        			<span class="browser browser--ie">IE 10</span>
        			<span class="browser browser--ie">IE 9</span>
        			<span class="browser browser--ff">Firefox <small class="browser__note">last 2 versions</small></span>
        			<span class="browser browser--safari">Safari 7</span>
        			<span class="browser">
        				Chrome
        				<small class="browser__note">latest version</small>
        			</span>
        		</div>
        		<p>All content is readable and usable. All functionality must work. Variations in presentation of content is minimised between browsers. Proactive support - these browsers will be explicitely tested.</p>
        	</div>
        	<div class="support-level">
        		<h3>Partial support</h3>
        		<div class="support-level__browsers">
        			<span class="browser browser--ie">IE 8</span>
        			<span class="browser browser--safari">Safari 6</span>
        			<span class="browser">Opera</span>
        		</div>
        		<p>Content is readable and usable and navigation works. Variation in presentation is allowed. Reactive support - these browsers will not be explicitely tested, but support issues will be considered.</p>
        	</div>
        	<div class="support-level">
        		<h3>Not supported</h3>
        		<div class="support-level__browsers">
        			<span class="browser browser--ie">IE 7</span>
        			<span class="browser browser--ie">IE 6</span>
        			<span class="browser browser--ff">FF 4.x</span>
        			<span class="browser">All others</span>
        		</div>
        		<p>No support or testing necessary.</p>
        	</div>

        </section>

        <section id="directory">

        	<h2>Directory Structure</h2>

        	<p>Directory / file structure should be consistant across all projects and follow a similar structure to this (this assumes you are putting the files in either the root of the project or in a STATIC folder served up by the server:</p>

        	<ul class="file-system">
        		<li class="file-system--folder">css</li>
        		<li class="file-system--folder">img</li>
        		<li class="file-system--folder">js
        			<ul>
        				<li class="file-system--folder">lib <span>Add javascript libraries such as jquery here</span></li>
        				<li class="file-system--folder">modules <span>Add bright custom js modules here</span></li>
        			</ul>
        		</li>
        	</ul>

        </section>



    </div>
</div>
