---
layout: default
title: Bright Interactive Front-end Coding Guidelines
nav: Home
weight : 1
---


<div class="page-content">
    <div class="toc">

        <div class="wrapper">
            <h1>Front-end Coding Guidelines</h1>

            {% assign pages = site.pages | sort:"weight"  %}
            <ul class="cards">
                {% for p in pages %}
                    {% if p.title and p.nav != 'Home' %}
                        <li class="cards__item" >
                            <a class="cards__link" {% if p.url == page.url %}class="active" {% endif %} href="{{ site.baseurl }}{{ p.url }}">
                                <h2>{{ p.title }}</h2>
                                <p>{{ p.description }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>

    </div>
</div>
