<header class="header">
    <div class="wrapper">

        <div class="header__logo">
            <a class="logo" href="{{ site.baseurl }}/">
                <span class="logo-strong">Bright</span>Interactive<br />
                <span class="logo-title">{{ site.title }}</span>
            </a>
        </div>

        <div class="header__nav">
            <nav class="nav">

                {% assign pages = site.pages | sort:"weight"  %}
                {% for p in pages %}
                    {% if p.nav and p.nav != 'Home' %}
                        <a class="nav__item {% if p.url == page.url %}is-active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">{{ p.nav }}</a>
                    {% endif %}
                {% endfor %}

            </nav>

        </div>

    </div>
</header>
