/**
 * File system CSS
 */

ul.file-system {
    list-style-type: none;
    margin: 0 0 15px;
    line-height: normal;

    ul {
        list-style-type: none;
        padding: 0 0 0 5px;
        margin: 0;
    }

    li {
        margin-bottom: 8px;
    }
}

.file-system--folder {
    background: url(../img/folder.svg) no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 27px;
    
    .file-system--folder span {

        // Not entirely happy with how this looks at the moment...

        opacity: 0.5;
        border-radius: 4px;
        padding: 2px 5px;
        background: #2ab0be;
        color: #fff;

        &:hover {
            opacity: 1;
        }
    }
}

