// ------------------------------------------------------------------
//  Header layout
// ------------------------------------------------------------------

.header {
    background: $bright-blue;
    background-image:
        linear-gradient(
          to right,
          $bright-blue 50%,
          $bright-pale-blue 50%
        );

    color: #fff;
    // Positioning context for the mobile navigation icon
    position: relative;
    z-index: 1;
}

.header__logo {
    float: left;
    width: 30%;
    padding-top: $gutter;
    padding-bottom: $gutter;
}

.header__nav {
    float: right;
    width: 70%;
    padding-top: $gutter;
    background: $bright-pale-blue;

    // Context for little arrow:
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 20px solid $bright-blue;
        left: 0;
        top: 50%;
    }
}

@include media-query($on-palm) {

    .header {
        background: $bright-blue;
        text-align: center;
    }

    .header__logo,
    .header__nav {
        float: none;
        width: 100%;
    }

    .header__nav {
        padding-top: $gutter / 2;
        background: $bright-blue;
        border-top: 1px solid $bright-pale-blue;
    }

    .header__nav:before {
        display: none;
    }

}
