// ------------------------------------------------------------------
//  Header layout
// ------------------------------------------------------------------

.header {
    background: $bright-blue;
    color: #fff;
    // Positioning context for the mobile navigation icon
    position: relative;
    z-index: 1;
}

.header__logo {
    float: left;
    width: 30%;
    padding-top: $gutter;
    padding-bottom: $gutter;
}

.header__nav {
    float: right;
    width: 70%;
    padding-top: $gutter;
}

@include media-query($on-palm) {

    .header {
        background: $bright-blue;
        text-align: center;
    }

    .header__logo,
    .header__nav {
        float: none;
        width: 100%;
    }

    .header__nav {
        padding-top: $gutter / 2;
        background: $bright-blue;
        border-top: 1px solid $bright-pale-blue;
    }

    .header__nav:before {
        display: none;
    }

}
