// ------------------------------------------------------------------
//  Table of contents strip
// ------------------------------------------------------------------

.toc {
    padding: ($gutter * 2) 0;
    background: #E7F6F7;
    border-bottom: 1px solid lighten($bright-pale-blue, 20);
    font-family: $bright-font-family;

    // Cast a shadow on the header strip above
    box-shadow: 0 -3px 4px rgba(0,0,0,0.05);
    z-index: 2;
    position: relative;

    h1 {
        color: $bright-blue;
        font-weight: 300;
        margin-bottom: 20px;
        line-height: 1;
        text-transform: uppercase;

        &:after {
            content: '';
            display: block;
            width: 10%;
            height: 0;
            margin-top: $gutter;
            margin-bottom: $gutter;
            border-bottom: 1px solid $bright-blue;
        }
    }
}


//  Styles for the actual bulleted list of contents
// ------------------------------------------------------------------

.contents {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;

    li {
        margin-bottom: 6px;
    }

    li:before {
        vertical-align: middle;
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-right: 15px;
        background: $bright-blue;
    }

    a {
        color: $text-color;
    }

    a:visited {
        color: lighten($text-color, 15);
    }
}
